<html>
    <head>
        <title>Confirm</title>
    </head>
    <body>
        <h1>Reset your password</h1>
        {% if validlink %}
        <p>please enter your new password twice</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="change my password"></p>
        </form>
        {% else %}
        <p>The password reset link was invalid , possibly because it has been already been used</p>
        {% endif %}
    </body>
</html>